@use "colors";

@font-face {
  font-family: Dosis;
  src: url("../../assets/fonts/Dosis-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: colors.$dark;
  margin: 0px;
  font-family: Dosis;
  height: 100vh;
}

button {
  font-family: Dosis;
}

#app {
  height: 100%;
  width: 100%;
}

@mixin app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: [collection-menu] 64px [collection-grid] auto;
  transition: grid-template-rows .5s ease;
}

.app-pkg-menu-collapsed {
  @include app;
  grid-template-rows: [package-menu] 64px [collection-grid] auto [page-select] 24px;
}

.app-pkg-menu-expanded {
  @include app;
  grid-template-rows: [package-menu] 128px [collection-grid] auto [page-select] 24px;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
}

input,
button,
textarea,
:focus {
  outline: none;
}

a:not([draggable=true]),
img:not([draggable=true]) {
  -webkit-user-drag: none;
  user-drag: none; // Technically not supported in Electron yet
}

a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
  -webkit-user-drag: auto;
  user-drag: auto; // Technically not supported in Electron yet
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}