.compile-config {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;

    h2 {
        width: 100%;
        text-align: center;
    }

    .compile-group-list {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        max-height: 40%;
        overflow-y: auto;

        .compile-group-list-item {
            display: flex;
            flex-direction: row;

            .compile-group-list-name {
                overflow: hidden;
                text-overflow: ellipsis;
                text-wrap: nowrap;
            }
        }
    }

    .compile-buttons {
        align-self: flex-end;
        padding: 4px;
    }
}