@use "menu";
@use "colors";
@use "collection";

.collection-tabs {
    display: flex;
    flex-direction: column;
    max-width: 24px;
    z-index: 2;

    .collection-tab {
        @include collection.collection-tab(20px, 100px);
    }
}

.preview {
    display: flex;
    flex-direction: row;
    padding: 4px 0px 0px 4px;

    &>div:last-child {
        cursor: pointer;
    }
}

.details {
    overflow: auto;
    grid-row: group-grid / span 2;
}