@use "menu";
@use "colors";


.collection-tabs {
    display: flex;
    flex-direction: column;
    max-width: 24px;
    z-index: 2;

    .collection-tab {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 4px;
        padding: 2px;
        width: 20px;
        border-radius: 4px;
        overflow: hidden;
        text-overflow: clip;
        transition: width .25s ease;

        &::-webkit-scrollbar {
            display: none;
        }

        span {
            padding-right: 8px;
            white-space: nowrap;
        }

        &:hover {
            width: 100px;
            overflow: auto;
            text-overflow: ellipsis;
        }
    }
}

.preview {
    display: flex;
    flex-direction: row;
    padding: 4px 0px 0px 4px;

    &>div:last-child {
        cursor: pointer;
    }
}

.details {
    background-color: colors.$dark;
    overflow: auto;
    grid-row: group-grid / span 2;
}