@use "collection";

.group-config-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: rgba(40, 40, 40, .8);

    .group-config {
        background-color: gray;
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;

        h2 {
            align-self: center;
        }

        button {
            padding: 4px 8px;
        }

        .collection-grid-container {
            height: calc(100% - (31px + (0.83em * 2) + 29px + 8px));
            overflow: auto;

            .collection-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                gap: 8px;
                margin: 8px;

                .collection-settings {
                    display: grid;
                    grid-template-columns: [start] 100px [preview] 50px [lbl] auto [end];
                    grid-template-rows: 48px repeat(6, 1fr);
                    align-content: stretch;

                    .preview {
                        width: fit-content;
                        grid-column: start / preview;

                        .collection-tab {
                            @include collection.collection-tab(100px, 100px);
                        }
                    }

                    .warning {
                        color: black;
                        background-color: yellow;
                        border: 1px dashed black;
                        grid-column: start / span end;
                        text-align: center;
                        margin: 2px;
                        border-radius: 4px;
                    }

                    .toolbar {
                        display: flex;
                        flex-direction: row;
                        grid-column: lbl / end;
                        justify-self: end;

                        button {
                            padding: 0;
                            width: 28px;
                            height: 28px;
                        }
                    }

                    label {
                        grid-column: start / lbl;
                    }

                    input[type="text"],
                    input[type="color"] {
                        grid-column: lbl / end;
                        width: auto;
                    }
                }

                .collection-insert {
                    justify-self: center;
                    align-self: center;

                    button {
                        height: 80px;
                        width: 120px;
                    }
                }
            }
        }

        .collection-buttons {
            align-self: flex-end;
            padding: 4px;
        }
    }
}