@use "menu";
@use "_colors";

.group-options {
    grid-column: group-grid / span 1;
    grid-row: group-options / span 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 0 4px;

    .group-group-options,
    .group-sort-options {
        display: flex;
        flex-direction: row;
        gap: 4px;
        flex-shrink: 0;

        select {
            height: 24px;
        }
    }

    .group-collections {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        overflow-x: auto;
        gap: 8px;
        height: 24px;

        &::-webkit-scrollbar {
            display: none;
        }

        >div {
            padding: 0 3px;
            height: 24px;
            text-wrap: nowrap;
        }
    }
}

.group-grid {
    grid-column: group-grid / span 1;
    grid-row: group-grid / span 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    align-content: flex-start;
}

.group-subsection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 16px;
    width: 100%;

    &>.group-subsection-header:first-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        &>div {
            color: colors.$text-light;
            font-size: 20px;
            text-align: center;
        }

        &>div:first-child,
        &>div:last-child {
            height: 0px;
            flex-grow: 1;
            border-top: 1px solid colors.$text-light;
            margin: 0px 5px;
        }
    }
}

.preview-item {
    display: flex;
    flex-direction: row;
    padding: 4px 0px 0px 4px;

    &>div:last-child {
        cursor: pointer;
    }
}

.linkItem {
    cursor: pointer;
}

.grouping-selection {
    width: 100%;
    height: fit-content;

    select {
        width: 100px;
    }
}

.group-page-select {
    grid-column-start: group-grid;
    grid-column-end: span 1;
    grid-row-start: page-select;
    grid-row-end: span 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.group-bucket {
    width: calc(100vw - 64px);
    margin: 0 4px 2px;
    background-color: lightgray;
    border-radius: 8px;
    text-align: center;
}