.map-title {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    text-align: center;
    width: calc(100vw - 64px);
    transition: background-color 0.15s ease;

    &>div {
        transition: all 0.15s ease;
    }

    &:hover {
        background-color: transparent;

        &>div {
            color: transparent;
            visibility: hidden;
        }
    }
}

.map-scroll-container {
    height: calc(100vh - 64px);
    width: calc(100vw - 64px);
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.landmark-container {
    height: 0px;
    width: 0px;
}

@keyframes landmarkFlash {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    50% {
        background-color: rgba(186, 27, 29, 0.67);
    }

    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

.landmark {
    animation: landmarkFlash 2s infinite;
    cursor: pointer;

    &>.landmark-preview {
        z-index: 999;
        opacity: 0;
        animation: opacity 0.3s ease-in-out;
        pointer-events: none;
    }

    &:hover>.landmark-preview {
        opacity: 1;
    }
}