@use "menu";

@mixin collection-grid {
  position: absolute;
  left: menu.$menu-button-collapsed-size;
  width: calc(100% - menu.$menu-button-collapsed-size);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: top .5s ease;
}

.collection-grid-collapsed {
  @include collection-grid;
  top: menu.$menu-button-collapsed-size;
  height: calc(100% - menu.$menu-button-collapsed-size);
}

.collection-grid-expanded {
  @include collection-grid;
  top: menu.$menu-button-expanded-size;
  height: calc(100% - menu.$menu-button-expanded-size);
}

.preview-item {
  padding: 4px;
}

@keyframes mapPOI {
  0%   { background-color: rgba(0, 0, 0, 0); }
  50%  { background-color: rgba(186, 27, 29, 1); }
  100% { background-color: rgba(0, 0, 0, 0); }
}

.mapPOI {
  animation: mapPOI 2s infinite;
  cursor: pointer;
}