@use "menu";

@mixin collection-grid {
  position: absolute;
  left: menu.$menu-button-collapsed-size;
  width: calc(100% - menu.$menu-button-collapsed-size);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: top .5s ease;
}

.collection-grid-collapsed {
  @include collection-grid;
  top: menu.$menu-button-collapsed-size;
}

.collection-grid-expanded {
  @include collection-grid;
  top: menu.$menu-button-expanded-size;
}

.collection-subsection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 16px;
  width: 100%;

  &>.collection-subsection-header:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &>div {
      font-size: 20px;
      text-align: center;
    }

    &>div:first-child,
    &>div:last-child {
      height: 0px;
      flex-grow: 1;
      border-top: 1px solid black;
      margin: 0px 5px;
    }
  }
}

.collection-tabs {
  display: flex;
  flex-direction: column;
  width: 24px;
  z-index: 999;

  .collection-tab {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    padding: 2px;
    width: 20px;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: clip;
    transition: width .5s ease;
  }

  &:hover {
    .collection-tab {
      width: 100px;
      overflow: auto;
      text-overflow: ellipsis;
    }
  }
}


.preview-item {
  cursor: pointer;
}

.entry-wrapper {
  display: flex;
  flex-direction: row;
  padding: 4px 0px 0px 4px;
}