@use "menu";
@use "colors";

@mixin details {
  position: absolute;
  left: menu.$menu-button-collapsed-size;
  bottom: 0px;
  right: 0px;
  display: flex;
  transition: top .5s ease;
  background-color: colors.$dark;
}

.details-collapsed {
  @include details;
  top: menu.$menu-button-collapsed-size;
}

.details-expanded {
  @include details;
  top: menu.$menu-button-expanded-size;
}