@use "colors";

$menu-button-collapsed-size: 64px;
$menu-font-collapsed-size: .75em;
$menu-button-expanded-size: 128px;
$menu-font-expanded-size: 1.75em;

.package-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: rgba(colors.$medium, .5);
  width: 100%;
  z-index: 100;
}

@mixin menu-button {
  background-color: colors.$text-dark;
  border: none;
  color: colors.$text-light;
  padding: 0;
  transition: width .5s ease, height .5s ease;

  .package {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transition: border-radius .5s ease .2s;

    .package-icon {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .package-name {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0%;
      opacity: 0;
      background-color: colors.$text-dark;
      transition: opacity 1s ease, background-color 1s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      border-radius: 0%;
      transition: border-radius .5s ease;

      .package-name {
        opacity: 1;
        transition: opacity .5s ease .3s, background-color .5s ease;
      }
    }

    &:last-child {
      align-self: flex-end;
    }
  }
}

.package-menu-button-collapsed {
  @include menu-button;
  width: $menu-button-collapsed-size;
  height: $menu-button-collapsed-size;
  font-size: $menu-font-collapsed-size;
}

.package-menu-button-expanded {
  @include menu-button;
  width: $menu-button-expanded-size;
  height: $menu-button-expanded-size;
  font-size: $menu-font-expanded-size;
}

@mixin collection-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(colors.$medium, .5);
  width: $menu-button-collapsed-size;
  transition: top .5s ease;
}

.collection-menu-expanded {
  @include collection-menu;
  top: $menu-button-expanded-size;
}

.collection-menu-collapsed {
  @include collection-menu;
  top: $menu-button-collapsed-size;
}

.collection-menu-button {
  background-color: colors.$text-dark;
  border: none;
  color: colors.$text-light;
  padding: 0;
  width: $menu-button-collapsed-size;
  height: $menu-button-collapsed-size;
  font-size: $menu-font-collapsed-size;
}